body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  height: 100%;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none !important;
}


/* -------------------------------------------- */
/* body */
/* -------------------------------------------- */

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3c3c3c;
  height: 60px;
  min-height: 60px;
}

.header .logo {
  margin-left: 15px;
  font-size: 23px;
  color: white;
  margin-top: -3px;
}

.header .center {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header .center .inner {
  height: 100%;
}


.header .countdown {
  color: white;
  font-size: 30px;
  padding: 0 20px;
  display: none;
}

.header .countdown.show {
  display: flex;
}

.header .countdown .box {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .countdown .splitter {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .history-btn {
  margin-right: 15px;
  display: none;
}

.header .history-btn.show {
  display: block;
}

.header .btn-test-cloud {
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
  margin-right: 25px;
  color: white;
  font-size: 14px;
}

.header .btn-test-cloud.show {
  display: block;
}


.header .test-questions {
  display: none;
}

.header .test-questions.show {
  display: flex;
}

.header .test-questions .btn {
  min-width: 35px;
  height: 35px;
  border: 1px solid gray;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header .test-questions .btn.clicked {
  background: #bbbbbb;
  color: #000;
}

.header .test-questions .btn.active {
  border: 2px solid #fff;
}

.header .btn-check-test {
  display: none;
  padding: 8px 10px;
  margin: 0 10px;
  color: white;
  border: 1px solid #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header .btn-check-test.show {
  display: flex
}


/* -------------------------------------------- */
/* loader-wrap */
/* -------------------------------------------- */

.loader {
  display: none;
}

.loader.show {
  display: flex;
}


.total-files {
  position: fixed;
  right: 90px;
  bottom: 75px;
}

/* -------------------------------------------- */
/* start-panel */
/* -------------------------------------------- */


.start-panel {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.start-panel.show {
  display: flex;
}

.start-panel img {
  width: 515px;
  cursor: pointer;
}

.start-panel .start-btn {
  background-color: #000;
  padding: 15px 30px;
  border-radius: 40px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  display: none;
  cursor: pointer;
}

.start-panel .start-btn:hover {
  background-color: #1d1d1d;
}

.start-panel .start-btn.show {
  display: block;
}