.practice-panel {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.practice-panel.show {
  display: flex;
  flex-direction: column;
}

.practice-panel .main {
  flex: 1;
  display: none;
  width: 100%;
  position: relative;
}

.practice-panel .main.show {
  display: flex;
}

.practice-panel .main.answer {
  background-repeat: repeat;
  background-image: url(../../../../assets/app/dot.png)
}

.practice-panel .main .col2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.practice-panel .main .title-wrap {
  background-color: #e2e2e2;
  padding: 8px 10px;
  display: flex;
  margin-top: 60px;
  min-width: 480px;
  border-radius: 5px;
}

.practice-panel .main .title-wrap .title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  min-height: 67px;
}

.practice-panel .main .title-wrap .icon {
  background: #f0f0f0;
  display: none;
}

.practice-panel .main .title-wrap .icon.show {
  display: block;
}

.practice-panel .main .qa-wrap {
  position: relative;
  margin-top: 80px;
  max-height: 450px;
  overflow: auto;
}

.practice-panel .main .qa-wrap .qa.answer {
  display: none;
}

.practice-panel .main.answer .qa-wrap .qa.answer {
  display: block;
}

.practice-panel .main.answer .qa-wrap .qa.question {
  display: none;
}

.practice-panel .reading-box {
  flex: 1;
  display: none;
  width: 100%;
  position: relative;
}

.practice-panel .reading-box.show {
  display: flex;
}

.practice-panel .reading-box .en {
  flex-direction: row-reverse;
}

.practice-panel .reading-box .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.practice-panel .reading-box .col.right {
  width: 55%;
}

.practice-panel .reading-box .col.right .text-wrap {
  max-width: 90%;
}

.practice-panel .reading-box .col.left {
  width: 45%;
}

.practice-panel .reading-box .text-wrap {
  overflow: auto;
}

.practice-panel .reading-box .qa-wrap {
  max-height: 500px;
  overflow: auto;
}

.practice-panel .reading-box .text,
.practice-panel .reading-box .qa {
  max-width: 100%;
}

.practice-panel .reading-box .left .title {
  border: 3px solid #c4c4c4;
  background: #e7e7e7;
  padding: 5px 20px;
  margin-bottom: 45px;
}

.practice-panel .reading-box .left .qa {
  display: none;
}

.practice-panel .reading-box.answer .left .qa {
  display: block;
}

.practice-panel .footer {
  display: flex;
  background-color: #eeeeee;
  height: 80px;
  min-height: 80px;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

.practice-panel .footer .btn {
  background-color: #000;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
}

.practice-panel .footer .btn:hover {
  background-color: #303030;
}

.practice-panel .footer .btn.disabled {
  pointer-events: none;
  background-color: gray;
}

.practice-panel .option.active {
  font-weight: 600;
  color: red;
}