.audit-panel {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.audit-panel.show {
  display: flex;
  flex-direction: column;
}

.audit-panel .main {
  flex: 1;
}

.audit-panel .main {
  display: flex;
  width: 100%
}

.audit-panel .main .col2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.audit-panel .title {
  margin-top: 45px;
  font-weight: 600;
}

.audit-panel .img-wrap {
  position: relative;
  margin-top: 35px;
  max-height: 450px;
  overflow: auto;
}

.audit-panel .questions-panel {
  width: 1600px;
  height: 70px;
  margin-top: 20px;
}

.audit-panel .questions-panel .prev,
.audit-panel .questions-panel .next {
  color: #000;
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.audit-panel .questions-panel .next {
  padding-left: 15px;
}

.audit-panel .questions-panel .outer-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1025px;
}

.audit-panel .questions-panel .inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  display: flex;
}

.audit-panel .questions-panel .inner-wrapper.left {
  left: 0;
}

.audit-panel .questions-panel .inner-wrapper.right {
  right: 0;
}


.audit-panel .btn-questions {
  display: flex;
}

.audit-panel .btn-questions .btn {
  border-radius: 5px;
  color: #2a2a2a;
  margin-left: 15px;
  cursor: pointer;
  border: 1px solid gray;
}

.audit-panel .btn-questions .btn .wrap {
  padding: 7px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audit-panel .btn-questions .btn.correct {
  border: 1px solid green;
}

.audit-panel .btn-questions .btn.correct .active {
  background: green;
  color: white;
}

.audit-panel .btn-questions .btn.error {
  border: 1px solid red;
}

.audit-panel .btn-questions .btn.error .active {
  background: red;
  color: white;
}

.audit-panel .ans-info {
  margin-top: 30px;
}

.audit-panel .ans-info.error {
  color: red;
}

.audit-panel .icon-txt {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
}


.audit-panel .icon-txt.show {
  display: block;
}