.dlg.dlg-start {
  width: 505px;
  height: 475px;
  margin-top: -250px;
  margin-left: -250px;
}

.dlg-start .init-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 10;
  flex-direction: column;
  border-radius: 10px;
}

.dlg-start .init-panel img {
  margin-bottom: 35px;
}

.btn-test,
.btn-practice {
  padding: 20px;
  border-radius: 35px;
  background: #F44336;
  min-width: 140px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

.btn-test {
  background: #008000;
}

.dlg-start .panel {
  display: none;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  border-radius: 10px;
}

.dlg-start .panel.active {
  display: flex;
}

.dlg-start .area {
  display: none;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.dlg-start .area.active {
  display: flex;
}

.dlg-start .area .columns {
  display: flex;
  width: 100%;
}

.dlg-start .area .column {
  width: 50%;
  display: flex;
  flex-direction: column;
}



.dlg-start .btn {
  margin-left: 10px;
  display: none;
}

.dlg-start .btn.active {
  display: block;
}


.dlg-start .btn-next,
.dlg-start .btn-prev {
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}

.dlg-start .btn-next.disable {
  color: rgb(168, 168, 168);
  pointer-events: none;
  border: 1px solid #cac7c7;
}

.dlg-start .btn-go {
  cursor: pointer;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  padding: 10px;
}

.dlg-start .btn-go.disable {
  background: gray;
  color: #c7c7c7;
  border: 1px solid gray;
  pointer-events: none;
}

.dlg-start .btn-star {
  padding: 7px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dlg-start .btn-star:hover {
  background-color: rgb(211, 211, 211);
}

.dlg-start .btn-star.clicked svg {
  color: #e91e63;
  fill: #e91e63;
}