/* -------------------------------------------- */
/* questions-panel */
/* -------------------------------------------- */


.cloud-tester-panel {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.cloud-tester-panel.show {
  display: flex;
  flex-direction: column;
}

.cloud-tester-panel .main {
  flex: 1;
}

.cloud-tester-panel .main {
  display: flex;
  width: 100%
}

.cloud-tester-panel .main .col1 {
  display: none;
}

.cloud-tester-panel .main .col2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cloud-tester-panel .title-wrap {
  background-color: #e2e2e2;
  padding: 8px 10px;
  display: flex;
  margin-top: 60px;
  min-width: 480px;
  border-radius: 5px;
}

.cloud-tester-panel .title-wrap .title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  min-height: 67px;
}

.cloud-tester-panel .title-wrap .chart-icon {
  background: #f0f0f0;
  display: none;
}

.cloud-tester-panel .title-wrap .chart-icon.show {
  display: block;
}

.cloud-tester-panel .btn-answer {
  padding: 5px 10px;
  color: #fff;
  background-color: green;
  cursor: pointer;
  border-radius: 3px;
}

.cloud-tester-panel .img-wrap {
  position: relative;
  margin-top: 60px;
  max-height: 450px;
  overflow: auto;
}

.cloud-tester-panel .footer {
  display: flex;
  background-color: #eeeeee;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

.cloud-tester-panel .footer .btn {
  background-color: #000;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
}

.cloud-tester-panel .footer .btn:hover {
  background-color: #303030;
}

.cloud-tester-panel .footer .btn.disabled {
  pointer-events: none;
  background-color: gray;
}

.cloud-tester-panel .option.active {
  font-weight: 600;
  color: red;
}