.more-panel {
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.more-panel.show {
  display: flex;
}

.more-panel .btn-close {
  position: fixed;
  top: 50px;
  right: 50px;
}

.more-panel .img-wrap {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.more-panel .img-wrap img {
  max-width: 1050px;
}