.more-panel {
  overflow: auto;
  padding-top: 100px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;
  justify-content: center;
  align-items: center;
}

.more-panel.show {
  display: flex;
}

.more-panel .btn-close {
  position: fixed;
  top: 50px;
  right: 50px;
}