.chkbox-wrap {
  padding: 0 30px;
  flex: 1;
}

.chkbox-wrap .select-all {
  margin-right: 10px;
  width: 19px;
  height: 18px;
}


.select-group {
  display: block
}

.select-group .header {
  display: flex;
  max-width: 375px;
  background-color: #fff;
}

.select-group .header label {
  flex: 1;
}

.select-group .header .toggle-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.select-group .header .toggle-btn:hover {
  background-color: #e6e6e6;
}

.select-group .header .toggle-btn img {
  width: 17px;
}

.select-group .body {
  margin-left: 25px;
  display: none;
}

.select-group .body.open {
  display: flex;
}

.dlg.dlg-start {
  width: 505px;
  height: 475px;
  margin-top: -250px;
  margin-left: -250px;
}

.dlg-start .panel {
  display: none;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.dlg-start .panel.active {
  display: flex;
}

.dlg-start .area {
  display: none;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.dlg-start .area.active {
  display: flex;
}

.dlg-start .area .columns {
  display: flex;
  width: 100%;
}

.dlg-start .area .column {
  width: 50%;
  display: flex;
  flex-direction: column;
}



.dlg-start .btn {
  margin-left: 10px;
  display: none;
}

.dlg-start .btn.active {
  display: block;
}


.dlg-start .btn-next,
.dlg-start .btn-prev {
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}

.dlg-start .btn-next.disable {
  color: rgb(168, 168, 168);
  pointer-events: none;
  border: 1px solid #cac7c7;
}

.dlg-start .btn-go {
  cursor: pointer;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  padding: 10px;
}

.dlg-start .btn-go.disable {
  background: gray;
  color: #c7c7c7;
  border: 1px solid gray;
  pointer-events: none;
}